In [5]:
import pandas as pd

In [6]:
file_address = '/mlodata1/hokarami/fari/bread/data/compare/colony_external/results_2023-07-04_02-01-02.csv'

In [7]:
res = pd.read_csv(file_address)
res

,Unnamed: 0,t1,t2,method,tp,fp,tn,fn,acc,f1,num_cells1,num_cells2,timediff
0,0,0,1,gcn,3,0,6,0,1.000000,1.000000,3,3,5
1,1,0,2,gcn,3,0,6,0,1.000000,1.000000,3,3,10
2,2,0,3,gcn,3,0,6,0,1.000000,1.000000,3,3,15
3,3,0,4,gcn,3,0,6,0,1.000000,1.000000,3,3,20
4,4,1,2,gcn,3,0,6,0,1.000000,1.000000,3,3,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1405,1405,111,115,tracx,83,1,14109,2,0.999789,0.982249,229,267,20
1406,1406,112,116,tracx,103,3,21290,4,0.999673,0.967136,237,279,20
1407,1407,113,117,tracx,113,6,28038,10,0.999432,0.933884,251,294,20
1408,1408,114,118,tracx,132,9,38295,12,0.999454,0.926316,262,310,20
1409,1409,115,119,tracx,147,16,55094,20,0.999349,0.890909,267,331,20

In [8]:
tracx_res = res.loc[res['method'] == 'tracx']
tracx_res.loc[tracx_res['t2'] < 93]

,Unnamed: 0,t1,t2,method,tp,fp,tn,fn,acc,f1,num_cells1,num_cells2,timediff
940,940,0,1,tracx,3,0,6,0,1.000000,1.000000,3,3,5
941,941,1,2,tracx,3,0,6,0,1.000000,1.000000,3,3,5
942,942,2,3,tracx,3,0,6,0,1.000000,1.000000,3,3,5
943,943,3,4,tracx,3,0,6,0,1.000000,1.000000,3,3,5
944,944,4,5,tracx,3,0,6,0,1.000000,1.000000,3,3,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1378,1378,84,88,tracx,122,11,35746,15,0.999276,0.903704,81,91,20
1379,1379,85,89,tracx,148,11,50665,16,0.999469,0.916409,84,96,20
1380,1380,86,90,tracx,0,1,569,3,0.993019,0.000000,85,102,20
1381,1381,87,91,tracx,0,1,867,4,0.994266,0.000000,85,107,20
1382,1382,88,92,tracx,0,3,1563,6,0.994275,0.000000,91,112,20

In [12]:
tracx_res.loc[tracx_res['f1'] < 1.0].loc[tracx_res['t1'] > 91].loc[tracx_res['t2'] > 93]

,Unnamed: 0,t1,t2,method,tp,fp,tn,fn,acc,f1,num_cells1,num_cells2,timediff
1039,1039,99,100,tracx,143,1,21167,1,0.999906,0.993056,144,148,5
1041,1041,101,102,tracx,156,0,25591,1,0.999961,0.996805,157,164,5
1046,1046,106,107,tracx,190,1,38008,1,0.999948,0.994764,191,200,5
1048,1048,108,109,tracx,203,0,43248,1,0.999977,0.997543,204,213,5
1052,1052,112,113,tracx,236,0,59250,1,0.999983,0.997886,237,251,5
1057,1057,117,118,tracx,292,1,90845,2,0.999967,0.994889,294,310,5
1058,1058,118,119,tracx,304,5,102295,6,0.999893,0.982229,310,331,5
1151,1151,92,94,tracx,40,2,1930,2,0.997974,0.952381,112,120,10
1152,1152,93,95,tracx,42,1,2063,1,0.999051,0.976744,116,123,10
1168,1168,109,111,tracx,143,1,23903,1,0.999917,0.993056,213,229,10
1171,1171,112,114,tracx,183,1,39007,1,0.999949,0.994565,237,262,10
1172,1172,113,115,tracx,199,0,45600,1,0.999978,0.997494,251,267,10
1173,1173,114,116,tracx,210,1,53249,3,0.999925,0.990566,262,279,10
1174,1174,115,117,tracx,227,1,60913,2,0.999951,0.993435,267,294,10
1175,1175,116,118,tracx,250,1,73542,1,0.999973,0.996016,279,310,10
1176,1176,117,119,tracx,266,1,88109,1,0.999977,0.996255,294,331,10
1278,1278,101,104,tracx,40,1,2225,2,0.998677,0.963855,157,177,15
1288,1288,111,114,tracx,122,0,21648,1,0.999954,0.995918,229,262,15
1289,1289,112,115,tracx,134,2,27261,3,0.999818,0.981685,237,267,15
1290,1290,113,116,tracx,152,3,34066,5,0.999766,0.974359,251,279,15
1291,1291,114,117,tracx,174,1,44249,3,0.999910,0.988636,262,294,15
1292,1292,115,118,tracx,197,1,55599,3,0.999928,0.989950,267,310,15
1293,1293,116,119,tracx,209,5,71935,9,0.999806,0.967593,279,331,15
1391,1391,97,101,tracx,10,0,198,1,0.995215,0.952381,131,157,20
1392,1392,98,102,tracx,12,0,312,1,0.996923,0.960000,137,164,20
1394,1394,100,104,tracx,16,1,526,1,0.996324,0.941176,148,177,20
1398,1398,104,108,tracx,31,1,1791,1,0.998904,0.968750,177,204,20
1399,1399,105,109,tracx,36,1,2478,1,0.999205,0.972973,184,213,20
1400,1400,106,110,tracx,42,1,3310,1,0.999404,0.976744,191,218,20
1402,1402,108,112,tracx,56,1,6041,1,0.999672,0.982456,204,237,20
1403,1403,109,113,tracx,67,0,8296,1,0.999880,0.992593,213,251,20
1404,1404,110,114,tracx,74,2,11152,4,0.999466,0.961039,218,262,20
1405,1405,111,115,tracx,83,1,14109,2,0.999789,0.982249,229,267,20
1406,1406,112,116,tracx,103,3,21290,4,0.999673,0.967136,237,279,20
1407,1407,113,117,tracx,113,6,28038,10,0.999432,0.933884,251,294,20
1408,1408,114,118,tracx,132,9,38295,12,0.999454,0.926316,262,310,20
1409,1409,115,119,tracx,147,16,55094,20,0.999349,0.890909,267,331,20

In [10]:
my_res = pd.read_csv('/mlodata1/hokarami/fari/bread/data/generated/test_tracking/results_original_large/2023-10-17 09:31:30/result_colony_56__dt_1234__t_all_filtered.csv')

In [13]:
my_res

,t1,t2,colony,num_cells1,num_cells2,method,tp,fp,tn,fn,acc,f1,timediff
0,0,1,5,2,2,gcn,2,0,2,0,1.000000,1.000000,5
1,0,2,5,2,2,gcn,2,0,2,0,1.000000,1.000000,10
2,0,3,5,2,3,gcn,2,0,4,0,1.000000,1.000000,15
3,0,4,5,2,3,gcn,2,0,4,0,1.000000,1.000000,20
4,1,2,5,2,2,gcn,2,0,2,0,1.000000,1.000000,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1073,89,93,6,96,116,gcn,87,9,11031,9,0.998384,0.906250,20
1074,90,91,6,102,107,gcn,102,0,10812,0,1.000000,1.000000,5
1075,90,92,6,102,112,gcn,102,0,11322,0,1.000000,1.000000,10
1076,90,93,6,102,116,gcn,100,2,11728,2,0.999662,0.980392,15
1077,91,92,6,107,112,gcn,107,0,11877,0,1.000000,1.000000,5

In [11]:
my_res.loc[my_res['colony'] == 6].loc[my_res['t2'] > 91].loc[my_res['t1']>91].loc[my_res['f1'] < 1.0]

Empty DataFrame
Columns: [t1, t2, colony, num_cells1, num_cells2, method, tp, fp, tn, fn, acc, f1, timediff]
Index: []

In [29]:
print(83+8+8+10093)
print(0	+3	+1563	+6)

10192
1572

In [19]:
tracx_90 = tracx_res.loc[tracx_res['t2'] <= 93].loc[ tracx_res['t1'] <= 91]
tracx_90.groupby(['timediff']).sum()

/tmp/ipykernel_32893/3912142343.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  tracx_90.groupby(['timediff']).sum()

,Unnamed: 0,t1,t2,tp,fp,tn,fn,acc,f1,num_cells1,num_cells2
timediff,,,,,,,,,,,
5,90666,4186,4278,2767,1,155727,3,91.996636,91.945868,2770,2879
10,101614,4186,4370,3914,13,555090,15,91.984983,89.928088,2770,2992
15,111202,4095,4368,3786,67,601551,103,90.928094,84.290722,2663,2989
20,120465,4005,4365,3078,137,525042,230,89.762094,75.408394,2561,2986

In [ ]:
dfs_tracx_res = []

for framediff in range(1, max_dt+1):
    filepath = basedir / \
        f'TracX_results/TrackingResults_framediff{framediff:02d}.txt'
    df = pd.read_csv(filepath, sep='\t', usecols=[
                     'cell_frame', 'cell_index', 'track_index'])
    df['frameid'] = df.cell_frame.map(lambda f: fileid2frameid[1][f-1])
    df.drop(columns='cell_frame', inplace=True)
    df['framediff'] = framediff
    dfs_tracx_res.append(df)

df_tracx_res = pd.concat(dfs_tracx_res)

In [1]:
import numpy as np

def calculate_idp_idr_idf1(ground_truth_matrix, predicted_matrix):
    true_positives = np.sum(np.logical_and(ground_truth_matrix, predicted_matrix))
    false_positives = np.sum(np.logical_and(np.logical_not(ground_truth_matrix), predicted_matrix))
    false_negatives = np.sum(np.logical_and(ground_truth_matrix, np.logical_not(predicted_matrix)))

    idp = true_positives / (true_positives + false_positives) if (true_positives + false_positives) != 0 else 0
    idr = true_positives / (true_positives + false_negatives) if (true_positives + false_negatives) != 0 else 0
    idf1 = 2 * (idp * idr) / (idp + idr) if (idp + idr) != 0 else 0

    return idp, idr, idf1

In [3]:
# Example usage
ground_truth_matrix = np.array([[1, 0, 0], [0, 1, 0], [0, 0, 1]])  # Example ground truth assignment matrix
predicted_matrix = np.array([[0, 0, 0], [0, 1, 0], [0, 0, 1]])  # Example predicted assignment matrix

idp, idr, idf1 = calculate_idp_idr_idf1(ground_truth_matrix, predicted_matrix)
print(f"IDP: {idp}, IDR: {idr}, IDF1: {idf1}")


ground_truth_matrix = np.array([[1, 0, 0], [0, 1, 0], [0, 0, 1]])  # Example ground truth assignment matrix
predicted_matrix = np.array([[0, 1, 0], [1, 0, 0], [0, 0, 1]])  # Example predicted assignment matrix

idp, idr, idf1 = calculate_idp_idr_idf1(ground_truth_matrix, predicted_matrix)
print(f"IDP: {idp}, IDR: {idr}, IDF1: {idf1}")

IDP: 1.0, IDR: 0.6666666666666666, IDF1: 0.8
IDP: 0.3333333333333333, IDR: 0.3333333333333333, IDF1: 0.3333333333333333